#size-controller{
	width: 450px;
	height: 500px;
	margin-top: 3px;
}

#first-row{

}

#showcode-button-container{
	text-align:right;
}

#showcode-button-container{
	text-align:right;
}

#undoshow-button-container{
	text-align:right;
}

#channel-name-container{

}

#channel-name-text{
	padding: 4px 8px 5px;
}

#list_row {

}

#code-editor-row{
	height: 300px;
	flex-grow: 1;
}

#chat-messages-row{
	flex-grow: 1;
}

#chat-input-row{
	height: 48px;
	margin-bottom: 6px;
}
